{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{%  static '/polls/style.css' %}"/>
    <script src="https://kit.fontawesome.com/2c620770ba.js" crossorigin="anonymous"></script>
</head>
<body class="a" style="padding-top:200px;flex-direction:column">
    <div style="display:flex;flex-direction:row">
        <h1 style="padding-left:40px;padding-bottom:40px">RandomBookGenerator</h1>
        <div class="back-button"><i class="fas fa-book"></i></div>
    </div>
    <div class="a2">
    <div class="login-title" style="font-size:60px">Welcome</div>
    <div class="login-title">Login</div>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Login</button>
    </form>
    </div>
</body>
